<div>
    <h2>
        <span>Enseignants</span>
        <button class="btn btn-primary float-right jh-create-entity create-enseignant" [routerLink]="['/', { outlets: { popup: ['enseignant-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Enseignant
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="enseignants">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Cin</span></th>
            <th><span>Name</span></th>
            <th><span>Lastname</span></th>
            <th><span>Email</span></th>
            <th><span>Dn</span></th>
            <th><span>Sexe</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let enseignant of enseignants ;trackBy: trackId">
                <td><a [routerLink]="['../enseignant', enseignant.id ]">{{enseignant.id}}</a></td>
                <td>{{enseignant.cin}}</td>
                <td>{{enseignant.name}}</td>
                <td>{{enseignant.lastname}}</td>
                <td>{{enseignant.email}}</td>
                <td>{{enseignant.dn | date:'mediumDate'}}</td>
                <td>{{enseignant.sexe}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../enseignant', enseignant.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'enseignant/'+ enseignant.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'enseignant/'+ enseignant.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
