<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEnseignantLabel">Create or edit a Enseignant</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!enseignant.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="enseignant.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_cin">Cin</label>
            <input type="number" class="form-control" name="cin" id="field_cin"
                [(ngModel)]="enseignant.cin" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="enseignant.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_lastname">Lastname</label>
            <input type="text" class="form-control" name="lastname" id="field_lastname"
                [(ngModel)]="enseignant.lastname" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="enseignant.email" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_dn">Dn</label>
            <div class="input-group">
                <input id="field_dn" type="text" class="form-control" name="dn" ngbDatepicker  #dnDp="ngbDatepicker" [(ngModel)]="enseignant.dn"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="dnDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_sexe">Sexe</label>
            <input type="text" class="form-control" name="sexe" id="field_sexe"
                [(ngModel)]="enseignant.sexe" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
