<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myMatiereLabel">Create or edit a Matiere</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!matiere.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="matiere.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="matiere.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_coeff">Coeff</label>
            <input type="number" class="form-control" name="coeff" id="field_coeff"
                [(ngModel)]="matiere.coeff" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_enseignant">Enseignant</label>
            <select class="form-control" id="field_enseignant" name="enseignant" [(ngModel)]="matiere.enseignant" >
                <option [ngValue]="null"></option>
                <option [ngValue]="enseignantOption.id === matiere.enseignant?.id ? matiere.enseignant : enseignantOption" *ngFor="let enseignantOption of enseignants; trackBy: trackEnseignantById">{{enseignantOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_section">Section</label>
            <select class="form-control" id="field_section" name="section" [(ngModel)]="matiere.section" >
                <option [ngValue]="null"></option>
                <option [ngValue]="sectionOption.id === matiere.section?.id ? matiere.section : sectionOption" *ngFor="let sectionOption of sections; trackBy: trackSectionById">{{sectionOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
