
<div *ngIf="demandeAttestation">
    <h2><span>Demande Attestation</span> {{demandeAttestation.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{demandeAttestation.name}}</span>
        </dd>
        <dt><span>Lastname</span></dt>
        <dd>
            <span>{{demandeAttestation.lastname}}</span>
        </dd>
        <dt><span>Cause</span></dt>
        <dd>
            <span>{{demandeAttestation.cause}}</span>
        </dd>
        <dt><span>Signer Par</span></dt>
        <dd>
            <div *ngIf="demandeAttestation.signerPar">
                <a [routerLink]="['/enseignant', demandeAttestation.signerPar?.id]">{{demandeAttestation.signerPar?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'demande-attestation/'+ demandeAttestation.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
